.admin-content{
    margin-top:70px;
    margin-left:230px;
}
#btnShowSidenav{
    display: none;
}


@media only screen and (max-width:450px){
    .admin-content{
        margin-left: 0px;
    }

    /* navigation */
    #btnShowSidenav{
        display: block;
    }

}